<div class="col-sm-12 home-tab-content">
    <alert></alert>
    <!-- <div class="col-sm-3 active-wearbols-content-left">
        <div style="align-content: center" class="active-wearbols-title"><b> Active Wearbols</b></div>
        <div class="col-sm-12 padding-zero wearbols-groups">
            <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
                <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default active-user-info-list">                       
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="nav">
                                    <li *ngFor="let user of activeWeabolsUser;let count=index" class="child-node" [ngClass]="{'user-list-event':count%2==0, 'user-list-odd':count%2==1,'active-user':user.Selected}">
                                        <a> <span class="" style="padding-right: 10px"><input type="checkbox" name="active-user-checkbox" class="active-user-checkbox" [(ngModel)]="user.Selected" ></span> {{user.UserName}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> -->
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading"><b>Sticky Notes Information</b></div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">Select Title</span>
                            <select class="form-control selcls" id="templateMessageSelect">
                        <option *ngFor="let title of stickyNoteTitles" value="{{title?.data}}" >{{title?.data}}</option>
                      </select>
                        </div>
                    </div>
                    <div class="col-sm-4"><button class="btn btn-success" (click)="fnAddNewTitleModal()">Add new title</button></div>
                    <div class="col-sm-2"></div>

                    <div class="col-sm-10" style="padding:15px">
                        <textarea class="form-control" id="txtStickyNotes" name="" [(ngModel)]="newNotes" cols="20" rows="4" placeholder="Your notes here" style="resize:both"></textarea>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-12">
                        <button class="btn btn-success" (click)="fnAddNewNotes()">Save Note</button>
                    </div>

                    <div class="col-sm-12" style="padding-top:20px">
                        <fieldset class="scheduler-border sticky-note-fieldset">
                            <legend class="scheduler-border">Sticky Notes List</legend>
                            <div class="sticky-note-content">
                                <div *ngFor="let notesTitle of stickyNotesArray">
                                    <div class="list-group-item sticky-note-list sticky-notes-header">
                                        <b>{{notesTitle.StickyTitle}}</b>
                                        <div class="pull-right"> <a class="delete-icon"><em class="fa fa-trash" (click)="fnDeleteStickyNotesHeader(notesTitle.StickyTitle)"></em></a></div>
                                    </div>
                                    <ul class="list-group">
                                        <li *ngFor="let notes of notesTitle.StickyNotes" class="list-group-item justify-content-between sticky-note-list">
                                            <div style="width:calc(100% - 48px);float:left">
                                                <p [innerHTML]="fnHTMLDecode(notes.Message)"></p>
                                            </div>
                                            <div class="" style="width:48px;float:left">
                                                <a class="edit-icon"><em class="fa fa-pencil" (click)="fnActionOnStickyNotes('edit',notes)"></em></a>
                                                <a class="delete-icon"><em class="fa fa-trash" (click)="fnActionOnStickyNotes('delete',notes)"></em></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span *ngIf="!IsEditNotes">Add New Title</span>
                        <span *ngIf="IsEditNotes">Update Sticky Notes</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="padding-bottom:20px">
                        <input *ngIf="!IsEditNotes" type="text" [(ngModel)]="newTitleTxt" class="form-control" />
                        <textarea *ngIf="IsEditNotes" class="form-control" name="" id="" cols="30" rows="4" [(ngModel)]="updateMessageTxt"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                    <button *ngIf="!IsEditNotes" type="button" class="btn btn-primary" (click)="fnAddNewTitle()">Add </button>
                    <button *ngIf="IsEditNotes" type="button" class="btn btn-primary" (click)="fnUpdateNotes()">Update </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</div>