<div class="login-component">
    <alert></alert>
    <h1 class="thick-heading">
        Welcome to Wearbols
    </h1>
    <!-- First Featurette -->
    <div class="featurette" id="about">
        <div class="container-login">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" [formGroup]="loginForm" novalidate (ngSubmit)="loginFormSubmit(loginForm.value)">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password" required>
                    <div id="remember" class="checkbox">
                        <!--<label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>-->
                        <label class="error-message">{{errorMgs}}</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="!loginForm.valid"> Sign in</button>
                </form>
                <!-- /form -->
                <a href="#" class="forgot-password">
                Forgot the password?
            </a>
            </div>
            <!-- /card-container -->
        </div>
        <!-- /container -->
    </div>


    <div class="modal fade" id="deploymentListModalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span>Deployment list for you</span>
                    </h4>
                </div> -->
                <div class="modal-body">
                    <div>
                        <app-p-table [pTableSetting]="deploymentKeyTableBind " [pTableMasterData]="listOfDeploymentKey" (radioButtonCallbackFn)="fnActivityOnRecord($event)"></app-p-table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</div>